{% extends 'base.html' %}
{% block title %}Inventario de Computadoras{% endblock %}

{% block content %}

<h2 class="title is-4">Inventario de Computadoras</h2>

<a href="{{ url_for('create_computadora') }}" class="button is-primary">
    Agregar computadora
</a>
<br>
<br>
<table class="table is-bordered is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Procesador</th>
            <th>RAM</th>
            <th>Almacenamiento</th>
        </tr>
    </thead>

    <tbody>
        {% for computadora in computadoras %}
        <tr>
            <td>{{ computadora.id }}</td>
            <td>{{ computadora.marca }}</td>
            <td>{{ computadora.modelo }}</td>
            <td>{{ computadora.procesador }}</td>
            <td>{{ computadora.ram }}</td>
            <td>{{ computadora.almacenamiento }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}